<div class="game-record" [class.editmode]="this.editMode">

	<div class="normal-panel" [class.win]="win" [class.lose]="lose" [class.tie]="tie">

		<img [src]="map.image" alt="" class="image">

		<div class="map">
			<div class="map-name">
				{{mapService.getMapById(game.map).name}}
			</div>
			<div class="date">
				{{game.timestamp?.toDate() | date:'yyyy-MM-dd HH:mm:ss'}}
			</div>
		</div>
		<div class="sr">

			{{game.skillRating}}
			<mat-icon *ngIf="win"  >thumb_up</mat-icon>
			<mat-icon *ngIf="lose"  >thumb_down</mat-icon>
			<span *ngIf="!tie" class="hide-on-small">
				{{diffAbs}}
			</span>
		</div>
		<div class="ago hide-on-small">
			<mat-icon>schedule</mat-icon>

			{{ago}}
		</div>
		<div class="actions">
			<mat-icon *ngIf="!readOnly" (click)="this.toggleEditMode()" class="edit hide-on-small">create</mat-icon>
		</div>
	</div>
	<div class="edit-panel">
		<div class="edit-content">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">MAP</div>
				</div>
				<select name="map" id="" class="form-control" [(ngModel)]="game.map">
					<option *ngFor="let map of maps" [value]="map.id">
					  {{map.name}}
					</option>
				  </select>
				

				<div class="input-group-prepend input-group-append">
					<div class="input-group-text">SR</div>
				</div>
				<input type="text" class="form-control sr" placeholder="Skill Rating" [(ngModel)]="game.skillRating">

				<div class="input-group-prepend input-group-append">
					<div class="input-group-text">STATUS</div>
				</div>
				<select [(ngModel)]="game.status" class="form-control status">
					<option value="WIN">WIN</option>
					<option value="LOSE">LOSE</option>
					<option value="TIE">TIE</option>
				</select>
			</div>
 
		</div>
		<div class="actions">
			<mat-icon (click)="del.emit()" class="delete hide-on-small">delete</mat-icon>

			<mat-icon (click)="this.toggleEditMode();this.update.emit()" class="confirm">check</mat-icon>

		</div>
	</div>
</div>