.game-record {
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
  height: 70px;
  overflow: hidden;


}

.normal-panel,
.edit-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding: 5px;
}

.normal-panel {
  top: 0;
}

.edit-panel {
  top: 70px;
}

.editmode .normal-panel {
  top: -70px;

}


.editmode .edit-panel {
  top: 0;
}

.edit-content {
  flex: 1;
}



.win {
  color: green;
}

.lose {
  color: red;
}

.tie {
  color: rgb(158, 158, 0);
}

mat-icon {
  margin: 0 10px;
}

.game-record>div {
  flex: 1;
}

.actions {
  cursor: pointer;
  display: flex;
}

.delete,
.edit {
  color: var(--primary-color);

}

.confirm {
  color: green;
}

.confirm.hover {
  color: rgb(31, 134, 31);
}


.edit:hover,
.delete:hover {
  color: var(--primary-color-dark);
}

.image {
  height: 100%;
  padding-right: 10px;
}

.map-name {
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
}

.normal-panel .sr {
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.date {
  white-space: nowrap;
}

.edit-panel .sr,
.status{
  max-width:100px;
}

.ago{
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 600px) {
  .normal-panel .sr {
    justify-content: flex-end;

  }
}