.page{
    padding:  0 10px;
}
.chars {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

}

.add-char {
    margin-bottom: 10px;
}

.chars app-char-displayer {
     flex: 1;
    margin: 0 10px 10px 10px;

}