 
.main{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.nav{
  height: 50px;
  background:var(--primary-color);
  display: flex;
 align-items: center;
}
.content{
  background: #f4f8fb;
  flex: 1;
  padding: 5px;
}

 
.example-spacer {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
 
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.login:hover{
  background: white;
  color: var(--primary-color-dark);
}
.photo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.nav-item{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}
.nav-item:hover{
  background: white;
  color:var(--primary-color);
}