 
.main{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.nav{
  height: 50px;
  background:var(--primary-color);
  display: flex;
 align-items: center;
}
.content{
  background: #f4f8fb;
  flex: 1;
}

 
.example-spacer {
  flex: 1 1 auto;
}
 
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.login:hover{
  background: white;
  color: var(--primary-color-dark);
}